@font-face {
    font-family: MiSans;
    src: url("../assets/fonts/MiSans-Medium.ttf");
}
@font-face {
    font-family: HYXuJingXingKaiW;
    src: url("../assets/fonts/HYXuJingXingKaiW.ttf");
}
@font-face {
    font-family: Arlrdbd;
    src: url("../assets/fonts/Arlrdbd.ttf");
}
*{
    margin:0;
    padding:0;
    list-style:none;
}
html,body{
    width:100%;
    height:100%;
    font-family: MiSans;
}
.main-view{
    width: 100%;
    height: 100%;
    position: absolute;
}
